<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="csmen.group.project.dao.AdminDao">
    <select id="findAll" resultType="csmen.group.project.entity.AdminInfo">
      select * from admin
    </select>

    <select id="login" parameterType="csmen.group.project.entity.AdminInfo" resultType="csmen.group.project.entity.AdminInfo">
        select id,name,privilege,HID FROM admin WHERE name = #{name} AND password = #{password}
    </select>

    <insert id="addAdmin" parameterType="csmen.group.project.entity.AdminInfo">
       INSERT INTO admin(name,password,privilege,HID) VALUES (#{name},#{password},#{privilege},#{HID})
    </insert>

    <delete id="delAdmin" parameterType="java.lang.Integer">
     DELETE from admin WHERE id = #{id}
    </delete>

    <select id="findByid" parameterType="java.lang.Integer" resultType="csmen.group.project.entity.AdminInfo">
      SELECT * FROM admin where id = #{id}
    </select>

    <update id="updateAdmin" parameterType="csmen.group.project.entity.AdminInfo">
      update user SET name=#{name}, password=#{password}, privilege=#{privilege},HID=#{HID} WHERE id = #{id}
    </update>
</mapper>