<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="csmen.group.project.dao.DoctorDao">
<!--    <insert id="addUser"  parameterType="csmen.group.project.entity.UserInfo">-->
<!--       INSERT INTO user(name,password,sex,phone_number,id_number) VALUES (#{name},#{password},#{sex},#{phone_number},#{id_number})-->
<!--    </insert>-->

    <select id="findAll" resultType="csmen.group.project.entity.DoctorInfo">
      select * from doctor
    </select>

    <select id="findByname" parameterType="String" resultType="csmen.group.project.entity.DoctorInfo">
        select * from doctor WHERE name like concat('%',#{name},'%')
    </select>

    <select id="findByHID" resultType="csmen.group.project.entity.DoctorInfo">
      select * from doctor WHERE HID = #{HID}
    </select>

    <select id="findBynameAndHID" resultType="csmen.group.project.entity.DoctorInfo">
        select * from doctor WHERE name like concat('%',#{name},'%') and HID = #{HID}
    </select>

    <select id="queryBynameAndinfo" resultType="csmen.group.project.entity.DoctorInfo">
        select * from doctor WHERE (case when name like concat('%',#{text},'%') then 1 else 0 end + case when expertise like concat('%',#{text},'%') then 1 else 0 end + case when description like concat('%',#{text},'%') then 1 else 0 end)>=1;
    </select>

    <select id="login" parameterType="csmen.group.project.entity.DoctorInfo"  resultType="csmen.group.project.entity.DoctorInfo">
        select id,name FROM doctor WHERE name = #{name} AND password = #{password}
    </select>

    <select id="findByid" parameterType="java.lang.Integer" resultType="csmen.group.project.entity.DoctorInfo">
      SELECT * FROM doctor where id = #{id}
    </select>

	<select id="findByExpertise" parameterType="String" resultType="csmen.group.project.entity.DoctorInfo">
		select * from doctor where expertise=#{expertise}
	</select>

    <update id="updateDoctor" parameterType="csmen.group.project.entity.DoctorInfo">
      update doctor SET name=#{name}, faculty=#{faculty}, profession=#{profession},political=#{political}, expertise=#{expertise}, description=#{description}, status=#{status},password=#{password}, phone_number=#{phone_number},id_number=#{id_number},sex=#{sex} WHERE id=#{id}
    </update>

    <delete id="delDoctor" parameterType="java.lang.Integer">
     DELETE from doctor WHERE id = #{id}
    </delete>

    <insert id="addDoctor" parameterType="csmen.group.project.entity.DoctorInfo">
       INSERT INTO doctor(name,faculty,profession,political,expertise,description,HID,status,password,phone_number,id_number,sex) VALUES (#{name},#{faculty},#{profession},#{political},#{expertise},#{description},#{HID},#{status},#{password},#{phone_number},#{id_number},#{sex})
    </insert>

	<select id="findStartTime" parameterType="java.lang.Integer" resultType="String">
		select timestart from Appointment where DID=#{DID}
	</select>
	
	<select id="findEndTime" parameterType="java.lang.Integer" resultType="String">
		select timestop from Appointment where DID=#{DID}
	</select>
<!--    <select id="findByname" parameterType="csmen.group.project.entity.UserInfo" resultType="csmen.group.project.entity.UserInfo">-->
<!--        select id FROM user WHERE name = #{name} AND id_number = #{id_number}-->
<!--    </select>-->

<!--    <update id="changePasswd" parameterType="csmen.group.project.entity.UserInfo">-->
<!--      update user SET password=#{password}WHERE id = #{id}-->
<!--    </update>-->
</mapper>