<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="csmen.group.project.dao.DoctorDao">
<!--    <insert id="addUser"  parameterType="csmen.group.project.entity.UserInfo">-->
<!--       INSERT INTO user(name,password,sex,phone_number,id_number) VALUES (#{name},#{password},#{sex},#{phone_number},#{id_number})-->
<!--    </insert>-->

    <select id="login" parameterType="csmen.group.project.entity.DocterInfo" resultType="csmen.group.project.entity.DocterInfo">
        select DID,name FROM doctor WHERE name = #{name} AND password = #{password}
    </select>

<!--    <select id="findByid" parameterType="java.lang.Integer" resultType="csmen.group.project.entity.UserInfo">-->
<!--      SELECT * FROM user where id = #{id}-->
<!--    </select>-->

<!--    <update id="updateUser" parameterType="csmen.group.project.entity.UserInfo">-->
<!--      update user SET name=#{name},password=#{password},sex=#{sex},phone_number=#{phone_number},id_number=#{id_number} WHERE id = #{id}-->
<!--    </update>-->

<!--    <select id="findByname" parameterType="csmen.group.project.entity.UserInfo" resultType="csmen.group.project.entity.UserInfo">-->
<!--        select id FROM user WHERE name = #{name} AND id_number = #{id_number}-->
<!--    </select>-->

<!--    <update id="changePasswd" parameterType="csmen.group.project.entity.UserInfo">-->
<!--      update user SET password=#{password}WHERE id = #{id}-->
<!--    </update>-->
</mapper>