<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <script th:src="@{/js/jquery-1.8.0.min.js}"></script>
</head>
<body>
<h2>我是添加页面</h2>

请输入姓名：<input  id="name" type="text"/><br><br>
请选择性别：<select id="sex" style="width: 173px">
    <option value="男">男</option>
    <option value="女">女</option>
</select><br><br>
请输入password：<input id="password1" type="text"/><br><br>
请再次输入password <input id="password2" type="text"/><br><br>
请输入phone_number：<input id="phone_number" type="text"/><br><br>
请输入id_number：<input id="id_number" type="text"/><br><br>
<button  onclick="goadd()" name="sub" id="sub">添加</button>
<button  name="button"  onclick="window.location.href='/adminindex';">返回</button>
</body>
<script>
    function goadd() {
        //HID
        var name = $("#name").val();
        var sex = $("#sex").val();
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        var phone_number = $("#phone_number").val();
        var id_number = $("#id_number").val();
        if(Number(password1) == Number(password2)){
            $.post("/adduser", {
                name: name, password: password1, phone_number: phone_number,
                id_number: id_number, sex: sex
            }, function (res) {
                if (res == true) {
                    alert("添加成功")
                    window.location.href = "/adminindex";
                } else {
                    alert("添加失败，请检查数据重试！");
                }
            })
        }else{
            alert("两次密码不一致")
        }
    }
</script>
</html>