<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script th:src="@{/js/jquery-1.8.0.min.js}"></script>
</head>
<body>
<!-- 顶部导航栏 -->
<div th:replace="~{Bar :: topBar}"></div>
<h2>主界面</h2>

<form action="/queryfind" method="post">
    请输入搜索内容:<input id="query" name="query" required="required" placeholder="请输入搜索内容"><br/><br/>
    <input type="submit" value="查询">
</form>




<div th:replace="~{Bar :: footerBar}"></div>

<script>
</script>
</body>
</html>